<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Registraduria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departamento
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li routerLinkActive="active"><a class="dropdown-item" routerLink="/departamentos">Lista Departamentos</a></li>
            <li><a class="dropdown-item" routerLink="/departamentos/form">Crear Departamento</a></li>
            <li><a class="dropdown-item" routerLink="/departamentos/consultar">Consultar Departamento</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ciudad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li routerLinkActive="active"><a class="dropdown-item" routerLink="/ciudades">Lista Ciudades</a></li>
            <li><a class="dropdown-item" routerLink="/ciudades/form">Crear Ciudad</a></li>
            <li><a class="dropdown-item" routerLink="/departamentos/consultar">Consultar Ciudad</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
