<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form (ngSubmit)="create()">
      <div class="form-group row">
        <label for="codDepartamento" class="col-form-label col-sm-2">Cod Departamento</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="departamento.codDepartamento" name="codDepartamento">
        </div>
      </div>
      <div class="form-group row">
        <label for="departamento" class="col-form-label col-sm-2">Departamento</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="departamento.departamento" name="departamento">
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button">Crear Departamento</button>
        </div>
      </div>

    </form>

  </div>
</div>
